<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" tools:node="remove" />

<!--    <uses-permission android:name="com.sec.android.app.hiddenmenu.permission.KEYSTRING" />-->
<!--    <uses-permission android:name="com.sec.permission.preconfig" />-->

<!--    <uses-permission android:name="android.permission.sec.MDM_APP_MGMT"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_PHONE_RESTRICTION"/>-->
<!--    <uses-permission android:name="com.android.samsung.knox.permission.KNOX_RESTRICTION_MGMT"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_RESTRICTION_MGMT"/>-->
<!--    <uses-permission android:name="com.android.samsung.knox.permission.KNOX_APP_MGMT"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_APP_MGMT"/>-->
<!--    <uses-permission android:name="android.permission.sec.MDM_RESTRICTION"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_FIREWALL"/>-->
<!--    <uses-permission android:name="com.example.supportlibclient.SUPPORT_PERMISSION"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_BLUETOOTH"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_HW_CONTROL"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_WIFI"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.MDM_SECURITY"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_VPN_GENERIC"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_VPN"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_INVENTORY"/>-->
<!--    <uses-permission android:name="android.permission.sec.MDM_MULTI_USER_MGMT"/>-->
<!--    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_MULTI_USER_MGMT"/>-->

    <uses-sdk tools:overrideLibrary="rikka.shizuku.provider,rikka.shizuku.api,rikka.shizuku.shared,rikka.shizuku.aidl" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ShortcutLaunchActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Transparent"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            />
        <activity android:name=".activities.tasker.TaskerLaunchComponentConfigureActivity"
            android:exported="true"
            android:label="@string/launch">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <service
            android:name="com.joaomgcd.taskerpluginlibrary.action.IntentServiceAction"
            tools:remove="android:foregroundServiceType" />

        <service android:name="com.joaomgcd.taskerpluginlibrary.condition.IntentServiceCondition"
            tools:remove="android:foregroundServiceType" />

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <receiver android:name=".util.receiver.AdminReceiver"
            android:label="@string/app_name"
            android:description="@string/device_admin_desc"
            android:enabled="false"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
<!--        <receiver android:name=".util.receiver.KnoxLicenseReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.samsung.android.knox.intent.action.LICENSE_STATUS" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data android:name="com.samsung.knoxlicense.permissions" android:value="true"
            />
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="68c49944c477dc1acc343fafaf359172"/>
    </application>
</manifest>